body{

background-color:darkorchid;






}


header {
        background-color: blueviolet;
        text-align: center;
        margin: 0px auto;
        max-width: 800px;



}
main {



     background-color: darkmagenta ;
     text-align: center;
     margin: 0px auto;
     max-width: 800px;



}